{% extends 'base.html.twig' %}

{% block title %}My Todo List{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center" >My Todo List</h1>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="{{ path('todolist_new_task') }}" class="btn btn-primary">Create new Task</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for todolist in todolists %}
                                    <tr>
                                        <td>{{ todolist.id }}</td>
                                        <td>{{ todolist.title }}</td>
                                        <td>
                                            <a href="{{ path('todolist_show_task', {'id': todolist.id}) }}" class="btn btn-primary">Show</a>
                                            <a href="{{ path('todolist_edit_task', {'id': todolist.id} ) }}" class="btn btn-primary">Edit</a>
                                            <a href="{{ path('todolist_confirm_delete_task', {'id': todolist.id}) }}" class="btn btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


